.jumbotron {
    background-color: #f4511e !important;
    color: #fff !important;
    padding: 100px 25px !important;
    font-family: Montserrat, sans-serif !important;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo-large {
    color: #f4511e;
    font-size: 200px;
}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.glyphicon-form {
    content : url("../img/Form.png");
    width:30%;
}

.glyphicon-user {
    content: url("../img/User.png");
    width: 30%;
}
.glyphicon-userprofile {
    content: url("../img/UserProfile.png");
    width: 50%;
}

#usrsearch:hover {
    z-index: 0;
    background-color:red !important;
}

.glyphicon-date {
    content: url("../img/date.png");
    width: 30%;
}

.slideanim {
    visibility: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

.nav-link {
    padding-right: 10px !important;
    padding-left:10px !important;
}