@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron text-center">
    <h2>ELECTION INFORMATION YOU NEED</h2>
    <h4>Know your Candidate ! Exercise your Duty !</h4>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-form logo-small"></span>
            <h4>Registration</h4>
            <p3>Portal Registration Form</p3>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <h4>Know Your Candidate</h4>
            <p3>Know about the candidates in your area</p3>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-date logo-small"></span>
            <h4>Election Dates</h4>
            <p3>Upcoming Election Dates</p3>
        </div>
    </div>
</div>

