@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron text-center">
    <h2>LEARN AND LET LEARN</h2>
    <h4>Learn new skills ! Teach your skills !</h4>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-form logo-small"></span>
            <h4>Registration</h4>
            <p3>Portal Registration Form</p3>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <h4>Find An Expert</h4>
            <p3>Learn from the experts in the community</p3>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-date logo-small"></span>
            <h4>Meetup Dates</h4>
            <p3>Upcoming Meetup Dates</p3>
        </div>
    </div>
</div>

